<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.5.3" targetFramework="net461" />
  <package id="LibZ.Bootstrap" version="1.1.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="PoeFilterParser" version="1.0.11" targetFramework="net461" />
  <package id="SharpDX" version="3.1.1" targetFramework="net461" />
  <package id="SharpDX.Desktop" version="3.1.1" targetFramework="net461" />
  <package id="SharpDX.Direct3D9" version="3.1.1" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="3.1.1" targetFramework="net461" />
</packages>